.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.product {
  border-radius: 15px;
  padding: 15px;
  border: 2px solid black;
  width: auto;
  height: auto;
  margin: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 250px;
}

.product .description {
  font-family: 'Itim', sans-serif;
  text-align: center;
  width: 200px;
}

.product .price {
  font-family: "Russo One", sans-serif;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 125px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .3s ease-in-out;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}


/* Laptop Responsive Code */
@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: auto auto;
    margin: auto;
  }
}
